<p id="notice"><%= notice %></p>

<%#
<p>
  <b>First name:</b>
  <%= @user.first_name %>
</p>

<p>
	<b><%= @user.first_name %></b>, you are registered for the event.
</p>
<p>
	This is your ticket, please bring it with you.
</p>


<p>
	<%= image_tag "qr/#{@user.id}.png" %>
</p>

<%= link_to 'GE video', 'http://www.youtube.com' %>
<br/>
